<!-- sidebar: style can be found in sidebar.less -->
<div ng-controller="MainSidebarController">
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="https://media.licdn.com/media/p/6/005/07d/289/38643a2.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Garrett Eastham</p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Modules</li>
      <!-- Optionally, you can add icons to the links -->
      <li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-class="{ treeview: item.type === 'dropdown', active: $state.includes(item.state) }">
        <a href="{{item.state}}"><i class="fa fa-link"></i> <span>{{item.title}}</span> <i ng-if="item.type === 'dropdown'" class="fa fa-angle-left pull-right"></i></a>
        <ul ng-if="item.type === 'dropdown'" class="treeview-menu">
          <li ng-repeat="subitem in item.items | orderBy: 'position'"><a ui-sref="{{subitem.state}}">{{subitem.title}}</a></li>
        </ul>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
</div>
<!-- /.sidebar -->
