<!-- Main content -->
<section class="content" ng-controller="JobsController">
  <div class="row">
    <div class="col-md-3">
      <a href="compose.html" class="btn btn-primary btn-block margin-bottom jobs-primary-action-button">Create New Job</a>

      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Jobs</h3>

          <div class="box-tools">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#"><i class="fa fa-circle-o"></i> All
              <span class="label label-primary pull-right">12</span></a></li>
            <li><a href="#" class="text-light-blue"><i class="fa fa-circle-o text-light-blue"></i> Scheduled
              <span class="label label-primary pull-right">12</span></a></li>
            <li><a href="#" class="text-blue"><i class="fa fa-circle-o text-blue"></i> Queued
              <span class="label label-primary pull-right">12</span></a></li>
            <li><a href="#" class="text-yellow"><i class="fa fa-circle-o text-yellow"></i> Running
              <span class="label label-primary pull-right">12</span></a></li>
            <li><a href="#" class="text-green"><i class="fa fa-circle-o text-green"></i> Completed
              <span class="label label-primary pull-right">12</span></a></li>
            <li><a href="#" class="text-red"><i class="fa fa-circle-o text-red"></i> Failed
              <span class="label label-primary pull-right">12</span></a></li>
          </ul>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /. box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">All Jobs</h3>

          <div class="box-tools pull-right">
            <div class="has-feedback">
              <input type="text" class="form-control input-sm" placeholder="Search Jobs">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <div class="mailbox-controls">
            <!-- Check all button -->
            <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
            </button>
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
            </div>
            <!-- /.btn-group -->
            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
            <div class="pull-right">
              1-50/200
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
              </div>
              <!-- /.btn-group -->
            </div>
            <!-- /.pull-right -->
          </div>
          <div class="table-responsive jobs-listings">
            <table class="table table-hover table-striped">
              <tbody>
                <tr>
                  <th></th>
                  <th>Status</th>
                  <th>Name</th>
                  <th>Last Run Started</th>
                  <th>Next Run Starts</th>
                  <th>Last Run Finished</th>
                  <th>Locked</th>
                </tr>
                <tr ng-repeat="job in jobs">
                  <td><input type="checkbox"></td>
                  <td class="job-listing-status"><span class="lavel lavel-primary">Scheduled</span></td>
                  <td class="job-listing-name">{{job.name}}</td>
                  <td class="job-listing-last-run-started">{{job.lastRunStarted}}</td>
                  <td class="job-listing-next-run">{{job.nextRun}}</td>
                  <td class="job-listing-last-run-finished">{{job.lastRunFinished}}</td>
                  <td class="job-listing-locked"></td>
                </tr>
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
          <div class="mailbox-controls">
            <!-- Check all button -->
            <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
            </button>
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
            </div>
            <!-- /.btn-group -->
            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
            <div class="pull-right">
              1-50/200
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
              </div>
              <!-- /.btn-group -->
            </div>
            <!-- /.pull-right -->
          </div>
        </div>
      </div>
      <!-- /. box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
